@import '~bulma';
@import '@davidcraig/wow/wow.css';
@import 'navbar';
@import 'table';
@import 'tabs';

:root {
    --dark-mode-text: #ececec;
    --dark-mode-bg-1: #161616;
    --dark-mode-bg-2: #111;
    --alliance-bg-1: #002f6d;
    --alliance-bg-2: #001e44;
    --alliance-alt-1: #4968aa;
}

html, body {
  --theme-bg: var(--alliance-bg-1);
  --theme-bg-2: var(--alliance-bg-2);
  --theme-alt-1: var(--alliance-alt-1);
  --theme-text: var(--dark-mode-text);
  --theme-good: #11c700;
  --theme-bad: #bb0000;
}

@mixin class-colours {
  &.fg-mage { color: var(--wow-class-mage); }
  &.fg-priest { color: var(--wow-class-priest); }
  &.fg-warlock { color: var(--wow-class-warlock); }
  &.fg-druid { color: var(--wow-class-druid); }
  &.fg-rogue { color: var(--wow-class-rogue); }
  &.fg-monk { color: var(--wow-class-monk); }
  &.fg-demonhunter { color: var(--wow-class-demonhunter); }
  &.fg-hunter { color: var(--wow-class-hunter); }
  &.fg-shaman { color: var(--wow-class-shaman); }
  &.fg-warrior { color: var(--wow-class-warrior); }
  &.fg-deathknight { color: var(--wow-class-deathknight); }
  &.fg-paladin { color: var(--wow-class-paladin); }
}

@mixin class-colours-important {
  &.fg-mage { color: var(--wow-class-mage) !important; }
  &.fg-priest { color: var(--wow-class-priest) !important; }
  &.fg-warlock { color: var(--wow-class-warlock) !important; }
  &.fg-druid { color: var(--wow-class-druid) !important; }
  &.fg-rogue { color: var(--wow-class-rogue) !important; }
  &.fg-monk { color: var(--wow-class-monk) !important; }
  &.fg-demonhunter { color: var(--wow-class-demonhunter) !important; }
  &.fg-hunter { color: var(--wow-class-hunter) !important; }
  &.fg-shaman { color: var(--wow-class-shaman) !important; }
  &.fg-warrior { color: var(--wow-class-warrior) !important; }
  &.fg-deathknight { color: var(--wow-class-deathknight) !important; }
  &.fg-paladin { color: var(--wow-class-paladin) !important; }
}

@import './widgets.scss';

html, body {
  background: var(--theme-bg);
  color: var(--theme-text);
}

.content {
  padding-top: 40px;

  .h1, .h2, .h3, .h4, .h5, .h6 {
    color: var(--theme-text);

    @include class-colours();
  }

  .tabs {
    margin-bottom: 0;

    ul {
      margin-left: 0;
      margin-top: 0;
    }
  }

  .card {
    border: 1px solid var(--theme-bg-2);
    border-radius: 0;
    margin-bottom: 1em;

    &.mage {
      .card-header > .card-header-title {
        color: var(--wow-class-mage) !important;
      }
    }
    &.priest {
      .card-header > .card-header-title {
        color: var(--wow-class-priest) !important;
      }
    }
    &.warlock {
      .card-header > .card-header-title {
        color: var(--wow-class-warlock) !important;
      }
    }
    &.druid {
      .card-header > .card-header-title {
        color: var(--wow-class-druid) !important;
      }
    }
    &.rogue {
      .card-header > .card-header-title {
        color: var(--wow-class-rogue) !important;
      }
    }
    &.monk {
      .card-header > .card-header-title {
        color: var(--wow-class-monk) !important;
      }
    }
    &.demonhunter {
      .card-header > .card-header-title {
        color: var(--wow-class-demonhunter) !important;
      }
    }
    &.hunter {
      .card-header > .card-header-title {
        color: var(--wow-class-hunter) !important;
      }
    }
    &.shaman {
      .card-header > .card-header-title {
        color: var(--wow-class-shaman) !important;
      }
    }
    &.warrior {
      .card-header > .card-header-title {
        color: var(--wow-class-warrior) !important;
      }
    }
    &.paladin {
      .card-header > .card-header-title {
        color: var(--wow-class-paladin) !important;
      }
    }
    &.deathknight {
      .card-header > .card-header-title {
        color: var(--wow-class-deathknight) !important;
      }
    }
  }

  .card, .card-content {
    background: transparent;
    color: var(--theme-text);
  }

  .card-header {
    background: var(--theme-bg-2);
    .card-header-title {
      color: var(--theme-text);
    }
  }
}

a.spell {
  color: yellow;
}

.question {
  margin-bottom: 0.25rem !important;
  margin-top: 1rem;
}

.answer {
  background-color: var(--alliance-bg-2);
  border-radius: 8px;
  padding: 4px;

  table.is-striped-columns tbody {
    & td:nth-child(even), & th:nth-child(even) {
      background-color: var(--alliance-bg-1);
    }
  }
}
