@import '~bulma';
@import '@davidcraig/wow';
@import 'navbar';

:root {
    --dark-mode-text: #ececec;
    --dark-mode-bg-1: #161616;
    --dark-mode-bg-2: #111;
    --alliance-bg-1: #002f6d;
    --alliance-bg-2: #001e44;
}

html, body {
  --theme-bg: var(--alliance-bg-1);
  --theme-bg-2: var(--alliance-bg-2);
  --theme-text: var(--dark-mode-text);
  --theme-good: #11c700;
  --theme-bad: #bb0000;
}

@import './widgets.scss';

// @media (prefers-color-scheme: dark) {
//     html, body {
//         --theme-bg: var(--dark-mode-bg-1);
//         --theme-bg-2: var(--dark-mode-bg-2);
//         --theme-text: var(--dark-mode-text);
//     }
// }

html, body {
  background: var(--theme-bg);
  color: var(--theme-text);
}

.content {
  padding-top: 40px;

  .h1, .h2, .h3, .h4, .h5, .h6 {
    color: var(--theme-text);
  }

  .card {
    border: 1px solid var(--theme-bg-2);
    border-radius: 0;
    margin-bottom: 1em;

    &.mage {
      .card-header > .card-header-title {
        color: var(--wow-class-mage) !important;
      }
    }
    &.priest {
      .card-header > .card-header-title {
        color: var(--wow-class-priest) !important;
      }
    }
    &.warlock {
      .card-header > .card-header-title {
        color: var(--wow-class-warlock) !important;
      }
    }
    &.druid {
      .card-header > .card-header-title {
        color: var(--wow-class-druid) !important;
      }
    }
    &.rogue {
      .card-header > .card-header-title {
        color: var(--wow-class-rogue) !important;
      }
    }
    &.monk {
      .card-header > .card-header-title {
        color: var(--wow-class-monk) !important;
      }
    }
    &.demonhunter {
      .card-header > .card-header-title {
        color: var(--wow-class-demonhunter) !important;
      }
    }
    &.hunter {
      .card-header > .card-header-title {
        color: var(--wow-class-hunter) !important;
      }
    }
    &.shaman {
      .card-header > .card-header-title {
        color: var(--wow-class-shaman) !important;
      }
    }
    &.warrior {
      .card-header > .card-header-title {
        color: var(--wow-class-warrior) !important;
      }
    }
    &.paladin {
      .card-header > .card-header-title {
        color: var(--wow-class-paladin) !important;
      }
    }
    &.deathknight {
      .card-header > .card-header-title {
        color: var(--wow-class-deathknight) !important;
      }
    }
  }

  .card, .card-content {
    background: transparent;
  }

  .card-header {
    background: var(--theme-bg-2);
    .card-header-title {
      color: var(--theme-text);
    }
  }

  table {
    td, th {
      border: 0;
    }
  }
}

.table.is-striped tbody tr:not(.is-selected):nth-child(even) {
  background: var(--theme-bg-2);
}
