table,
.content table {
  background: transparent;

  thead, tbody {
    th, td {
      color: var(--theme-text);
    }
  }

  td, th {
    border: 0;
  }
}

.table.is-striped tbody tr:not(.is-selected):nth-child(even) {
  background: var(--theme-bg-2);
}
